body {
    font-family: 'Gill Sans', sans-serif;
}

.main-container {
    width: 800px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
}

.flex-container {
    display: flex;
    flex-direction: column;
}

.up-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

textarea {
    min-height: 70px;
    resize: none;
    margin-bottom: 50px;
}

select, input, button {
    padding: 5px 10px;
    cursor: pointer;
}

select {
    height: 33px;
}

button {
    align-self: flex-end;
    height: 33px;
    width: 100px;
    margin-bottom: 50px;
    background-color: #54b58a;
    color: #fff;
    border: 1px solid #000;
}

button:hover {
    background-color: #347759;
}

.list {
    width: 100%;
    border-collapse: collapse;
    line-height: 40px;
}

.list .title {
    background-color: rgba(220,255,0,0.3);
}

.list th {
    width: 60px;
    border: 1px solid #000;
}

.list .col-text {
    padding-left: 10px;
    text-align: left;
    width: 300px;
}

.list td {
    text-align: center;
    border: 1px solid #000;
}

.list .text {
    text-align: left;
    padding-left: 10px;
}